
bin/Debug/netstandard2\.0/PDFGenerator\.deps\.json

bin/Debug/netstandard2\.0/PDFGenerator\.pdb

obj/Debug/netstandard2\.0/PDFGenerator\.AssemblyInfo\.cs

obj/Debug/netstandard2\.0/PDFGenerator\.AssemblyInfoInputs\.cache

obj/Debug/netstandard2\.0/PDFGenerator\.assets\.cache

obj/Debug/netstandard2\.0/PDFGenerator\.csproj\.CoreCompileInputs\.cache

obj/Debug/netstandard2\.0/PDFGenerator\.csproj\.FileListAbsolute\.txt

obj/Debug/netstandard2\.0/PDFGenerator\.csprojAssemblyReference\.cache

obj/Debug/netstandard2\.0/PDFGenerator\.dll

obj/Debug/netstandard2\.0/PDFGenerator\.pdb

obj/PDFGenerator\.csproj\.nuget\.cache

obj/PDFGenerator\.csproj\.nuget\.dgspec\.json

obj/PDFGenerator\.csproj\.nuget\.g\.props

obj/PDFGenerator\.csproj\.nuget\.g\.targets

obj/project\.assets\.json
